{% load static from static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projet Management</title>
    <link rel="stylesheet" href="{%static 'styles.css'%}">
</head>
<body>
    <div class="banner">
        <h1 style="text-align: center;">Project Management</h1>
    </div>
    <div class="menu">
        <form action="/project/details/delete/{{projects.id}}/" method="post">
            <button class="button" onclick="window.location.href='/project/delete/{{projects.id}}/'">Delete</button>
        </form>
        <form action="/project/details/update/{{projects.id}}/" method="get">
            <button class="button" onclick="window.location.href='/project/details/{{projects.id}}'">Edit</button>
        </form>
        <a href="../../..">
            <h2>Projects</h2>     
        </a>
        <ul id= "projects">
            <li><h3>{{projects.name}}</h3></li>
            <li><h5>{{projects.duration}}</h5></li>
            <li><h6>{{projects.description}}</h6></li>
            <img src="{%static 'stars.jpg'%}" width="200" height="200">
        </ul>
    </div>
    <div class="taskbanner">
        <a href="/project/{{projects.id}}/task/">
            <h2>View Tasks</h2>     
        </a>
        <h5>Task can be added and viewed</h5>
    </div>
</body>