{% load static from static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projet Management</title>
    <link rel="stylesheet" href="{%static 'styles.css'%}">
</head>
<body>
    <div class="banner">
      <h1 style="text-align: center;">Project Management</h1>
    </div>
    <div class="topcorner">
      <a href="../../../../">
        <h6>Home</h6>
      </a>
    </div>
    <form action="", method="post">
      <div class="form">
        <h1>Create Task</h1>
        <label for="name">Task Name:</label><br>
        <input type="text" id="name" name="name"><br>
        
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description"><br>
        
        <label for="start_date">Start Date:</label><br>
        <input type="date" id="start_date" name="start_date"><br>

        <label for="end_date">End Date:</label><br>
        <input type="date" id="end_date" name="end_date"><br><br>

        <input type="submit" value="Submit">
      </div>
    </form>
</body>